<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Link to LanguageSelector.js & a simple stylesheet -->
    <script src="~/Scripts/LanguageSelector.js" defer></script>
    <link rel="stylesheet" href="~/Style/main.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" data-translation="8"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" data-translation="5"></a></li>
                    <li><a href="/about" data-translation="6"></a></li>
                    <li><a href="/contact" data-translation="7"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <!-- Language selector -->
        <p data-translation="4"></p>
        <p data-translation="0"></p>
        <span class="languages">
            <img data-flag="en" src="~/Assets/flags/gb.svg" title="English" onclick="SetLanguage(this);" />
            <img data-flag="da" src="~/Assets/flags/dk.svg" title="Dansk" onclick="SetLanguage(this);" />
            <img data-flag="fi" src="~/Assets/flags/fi.svg" title="Suomi" onclick="SetLanguage(this);" />
            <img data-flag="hu" src="~/Assets/flags/hu.svg" title="Magyar" onclick="SetLanguage(this);" />
        </span>

        @*
        <!-- Dropdown for language selector -->
        <label for="language-picker-select">Select your language</label>*

        <select name="language-picker-select" id="language-picker-select">
            <option lang="en" value="en" selected>English</option>
            <option lang="de" value="da">Dansk</option>
            <option lang="fi" value="fi">Suomi</option>
            <option lang="hu" value="hu">Magyar</option>
        </select>*@

        @RenderBody()
        <hr />
        <footer>
            <span>&copy; Stoneage - @(DateTime.Now.Year)_<span data-translation="8"></span></span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
